:root {
  --amb-light-x: 1;
  --amb-light-y: -1;
  --amb-key-light-intensity: 0.3;
  --amb-fill-light-intensity: 0;
  --amb-light-distance: 0px;
  --amb-fillet: 0;
  --amb-chamfer: 0;
  --amb-thickness: 0;
  --amb-elevation: 0;
  --amb-fillet-width: 1;
}

.amb-fillet {
  --amb-fillet: 1;
}

.amb-fillet-2 {
  --amb-fillet: 1;
  --amb-fillet-width: 2;
}

.amb-chamfer {
  --amb-chamfer: 1;
}

.amb-elevation-0 {
  --amb-elevation: 0;
}

.amb-elevation-1 {
  --amb-elevation: 1;
}

.amb-elevation-2 {
  --amb-elevation: 2;
}

.amb-elevation-3 {
  --amb-elevation: 3;
}

.ambient {
  box-shadow: rgba(
        0,
        0,
        0,
        calc(var(--amb-key-light-intensity) - var(--amb-fill-light-intensity))
      )
      calc(var(--amb-light-x) * (-19 / 3) * var(--amb-elevation) * 1px)
      calc(var(--amb-light-y) * (-19 / 3) * var(--amb-elevation) * 1px)
      calc(var(--amb-light-y) * (-38 / 3) * var(--amb-elevation) * 1px),
    rgba(
        0,
        0,
        0,
        calc(
          (var(--amb-key-light-intensity) - var(--amb-fill-light-intensity)) *
            0.75
        )
      )
      calc(var(--amb-light-x) * (-15 / 3) * var(--amb-elevation) * 1px)
      calc(var(--amb-light-y) * (-15 / 3) * var(--amb-elevation) * 1px)
      calc(var(--amb-light-y) * (-12 / 3) * var(--amb-elevation) * 1px),
    inset calc(var(--amb-light-x) * var(--amb-fillet-width) * -1px)
      calc(var(--amb-light-y) * var(--amb-fillet-width) * -1px) 0px 0px
      rgb(
        255 255 255 / calc(var(--amb-fillet) * var(--amb-key-light-intensity))
      ),
    inset calc(var(--amb-light-x) * var(--amb-fillet-width) * 1px)
      calc(var(--amb-light-y) * var(--amb-fillet-width) * 1px) 0px 0px
      rgb(
        0 0 0 /
          calc(
            var(--amb-fillet) *
              calc(
                var(--amb-key-light-intensity) - var(--amb-fill-light-intensity)
              )
          )
      ),
    inset calc(var(--amb-light-x) * -2px) calc(var(--amb-light-y) * -2px) 2px
      0px
      rgb(
        255 255 255 / calc(var(--amb-chamfer) * var(--amb-key-light-intensity))
      ),
    inset calc(var(--amb-light-x) * 2px) calc(var(--amb-light-y) * 2px) 2px 0px
      rgb(
        0 0 0 /
          calc(
            var(--amb-chamfer) *
              calc(
                var(--amb-key-light-intensity) - var(--amb-fill-light-intensity)
              )
          )
      );
}
