body {
  background-color: hsl(240, 20%, 15%);
  font-family: "Josefin Sans", sans-serif;
  transition: background-color 3s;
}

.container {
  display: grid;
  min-height: 90vh;
  min-width: 100%;
  column-gap: 30px;
  gap: 30px;
}

.content {
  justify-self: center;
  align-self: center;
}

.box {
  padding: 7rem;
  border-radius: 7px;
  margin: 30px;
}

.logo {
  text-align: center;
  font-size: 49px;
  color: #aaa;
}

.circle {
  width: 64px;
  min-height: 64px;
  content: " ";
  margin: 30px;
  border-radius: 50%;
}

.custom {
  border: 1px solid rgb(0 0 0 / 0.4);
  background-color: inherit;
  outline: none;
  padding: 0.5rem;
  border-radius: 12px;
  text-transform: uppercase;
  width: 64px;
  font-weight: 600;
  color: #aaa;
  text-shadow: 0 0 14px rgb(255 255 255 / 0.35);
}

.custom:focus {
  border: 1px solid lightcoral;
}
