body {
  font-family: "Michroma", sans-serif;
  transition: background-color 3s ease-in;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  column-gap: 30px;
  gap: 30px;
}

.content {
  justify-self: center;
  align-self: center;
}

.box {
  padding: 4rem;
  border-radius: 7px;
  margin: 30px;
}

.logo {
  text-align: center;
  font-size: 49px;
  color: #aaa;
}

.circle {
  width: 64px;
  min-height: 64px;
  margin: 30px;
  border-radius: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
